@page "/Overview"
@using MetarTaf.Components.Models
@using MetarTaf.Components.Services
@using Microsoft.AspNetCore.Components.Web.Extensions
@using System.Text.Json
@implements IDisposable
@rendermode InteractiveServer

@inject NavigationManager Navigation

<PageTitle>Airport overview</PageTitle>

<div>
    <p>Current time: @currentTime.ToString("yyyy-MM-dd HH:mm:ss")z</p>
</div>

<div class="top-menu">
    <EditForm Model="newAirportModel" OnValidSubmit="AddAirport">
        <InputText @bind-Value="newAirportModel.Icao" placeholder="Enter ICAO code" @oninput="@(e => newAirportModel.Icao = e.Value?.ToString()?.ToUpper() ?? string.Empty)" />
        <button type="submit">Add Airport</button>
    </EditForm>
    <button @onclick="ConfirmAllReports">Confirm all</button>

    <label>
        <InputCheckbox @bind-Value="showNewTaf" /> Show TAF updates
    </label>
    <label>
        <InputCheckbox @bind-Value="showNewMetar" /> Show METAR updates
    </label>


    <button class="clearall-button" @onclick="@(async () => { if (await JSRuntime.InvokeAsync<bool>("confirmClearAllAirports")) { await ClearAllAirports(); } })">Clear All Airports</button>
</div>

@foreach (var airport in airports)
{
    
    var latestMetar = airport.Metars.OrderByDescending(m => m.Key).FirstOrDefault().Value;
    var latestTaf = airport.Tafs.OrderByDescending(t => t.Key).FirstOrDefault().Value;

    var metarTime = latestMetar?.Time?.Dt ?? DateTime.MinValue;
    var timeSinceLastMetar = currentTime - metarTime;

    var tafTime = latestTaf?.time?.dt ?? DateTime.MinValue;
    var timeSinceLastTAF = currentTime - tafTime;


    <div>
        <table class="table-parent">
            <thead>
                <tr>
                    <th></th>
                    <th>Station</th>
                    <th>Report type</th>
                    <th>Report time</th>
                    <th>Raw report</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="actions-cell" rowspan="2">
                        <button @onclick="() => ConfirmReports(airport)" title="Confirm reports">
                            ✔️
                        </button>
                        <button @onclick="() => RemoveAirport(airport.Icao)" title="Remove airport">
                            ❌
                        </button>
                    </td>
                    <td class="station-cell" rowspan="2" @onclick="() => NavigateToAirportPage(airport.Icao)">
                        <div style="display: flex; flex-direction: column; justify-content: space-between; height: 100%;">
                            <div>
                                @airport.Icao
                            </div>
                            <div class="station-city">
                                @airport.Info?.city
                            </div>
                        </div>
                    </td>

                    @if (latestTaf != null)
                    {
                        <td class="report-type-cell @((airport.isNewTaf && showNewTaf ? "taf-new-report" : "taf-old-report"))">
                            TAF
                        </td>
                        <td class="reports-time-cell @((airport.isNewTaf && showNewTaf ? "taf-new-report" : "taf-old-report"))">
                            @tafTime.ToString("HH:mm") (@timeSinceLastTAF.ToString(@"hh\:mm"))
                        </td>
                        <td class="@((airport.isNewTaf && showNewTaf ? "taf-new-report" : "taf-old-report"))">
                            @latestTaf.raw
                        </td>
                    }
                    else
                    {
                        <td class="reports-time-cell">Loading...</td>
                        <td class="report-type-cell">TAF</td>
                        <td class="taf-old-report">Loading...</td>
                    }
                </tr>

                <tr>
                    @if (latestMetar != null)
                    {
                        <td class="report-type-cell @((airport.isNewMetar && showNewMetar ? "metar-new-report" : "metar-old-report"))">
                            METAR
                        </td>
                        <td class="reports-time-cell @((airport.isNewMetar && showNewMetar ? "metar-new-report" : "metar-old-report"))">
                            @metarTime.ToString("HH:mm") (@timeSinceLastMetar.ToString(@"hh\:mm"))
                        </td>
                        <td class="@((airport.isNewMetar && showNewMetar ? "metar-new-report" : "metar-old-report"))">
                            @latestMetar.Raw
                        </td>
                    }
                    else
                    {
                        <td class="report-type-cell">METAR</td>
                        <td class="reports-time-cell">Loading...</td>
                        <td class="metar-old-report">Loading...</td>
                    }
                </tr>
            </tbody>
        </table>
    </div>
}


