@page "/Overview"
@using MetarTaf.Components.Models
@using MetarTaf.Components.Services
@using Microsoft.AspNetCore.Components.Web.Extensions
@using System.Text.Json
@implements IDisposable
@rendermode InteractiveServer

@inject NavigationManager Navigation

<PageTitle>Airport overview</PageTitle>

<h1 id="header1">Overview</h1>

<div>
    <p>Current time: @currentTime.ToString("yyyy-MM-dd HH:mm:ss")</p>
</div>

<div class="top-menu">
    <input @bind="newIcao" placeholder="Enter ICAO code" />
    <button @onclick="AddAirport">Add Airport</button>
    <button @onclick="ConfirmAllReports">Confirm all</button>
    <button @onclick="ClearAllAirports">Clear All Airports</button>
</div>

@foreach (var airport in airports)
{
    
    var latestMetar = airport.Metars.OrderByDescending(m => m.Key).FirstOrDefault().Value;
    var latestTaf = airport.Tafs.OrderByDescending(t => t.Key).FirstOrDefault().Value;

    if (latestMetar != null)
    {
        var metarTime = latestMetar.Time?.Dt ?? DateTime.MinValue;
        var timeSinceLastMetar = currentTime - metarTime;

        if (latestTaf != null)
        {
            var tafTime = latestTaf.time?.dt ?? DateTime.MinValue;
            var timeSinceLastTAF = currentTime - tafTime;

            <div>
                <table class="table-parent">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Station</th>
                            <th>Report time</th>
                            <th>Report type</th>
                            <th>Raw report</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="actions-cell" rowspan="2">
                                <button @onclick="() => ConfirmReports(airport)">
                                    ✔️
                                </button>
                                <button @onclick="() => RemoveAirport(airport.Icao)">
                                    ❌
                                </button>
                            </td>
                            <td class="station-cell" rowspan="2" @onclick="() => NavigateToAirportPage(airport.Icao)">
                                @airport.Icao
                            </td>
                            <td class="reports-time-cell @((airport.isNewTaf ? "taf-new-report" : "taf-old-report"))">@tafTime.ToString("HH:mm") (@timeSinceLastTAF.ToString("hh\\:mm"))</td>
                            <td class="report-type-cell @((airport.isNewTaf ? "taf-new-report" : "taf-old-report"))">TAF</td>
                            <td class="@((airport.isNewTaf ? "taf-new-report" : "taf-old-report"))">@latestTaf.raw</td>
                        </tr>

                        <tr>
                            <td class="reports-time-cell @((airport.isNewMetar ? "metar-new-report" : "metar-old-report"))">@metarTime.ToString("HH:mm") (@timeSinceLastMetar.ToString("hh\\:mm"))</td>
                            <td class="report-type-cell @((airport.isNewMetar ? "metar-new-report" : "metar-old-report"))">METAR</td>
                            <td class="@((airport.isNewMetar ? "metar-new-report" : "metar-old-report"))">@latestMetar.Raw</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }
    }
}