@page "/Overview"
@using MetarTaf.Components.Models
@using MetarTaf.Components.Services
@using Microsoft.AspNetCore.Components.Web.Extensions
@using System.Text.Json
@implements IDisposable
@rendermode InteractiveServer

@inject NavigationManager Navigation

<PageTitle>Airport overview</PageTitle>

<h1 id="header1" >Overview</h1>

<div>
    <p>Current time: @currentTime.ToString("yyyy-MM-dd HH:mm:ss")</p>
</div>

<div class="top-menu">
    <input @bind="newIcao" placeholder="Enter ICAO code" />
    <button @onclick="AddAirport">Add Airport</button>
    <button @onclick="ConfirmAllReports">Confirm all</button>
</div>

@foreach (var airportEntry in airports)
{
    var airport = airportEntry.Value;
    var latestMetar = airport.Metars.OrderByDescending(m => m.Key).FirstOrDefault().Value;
    var latestTaf = airport.Tafs.OrderByDescending(t => t.Key).FirstOrDefault().Value;

    if (latestMetar != null)
    {
        var metarTime = latestMetar.Time?.Dt ?? DateTime.MinValue;
        var timeSinceLastMetar = currentTime - metarTime;

        if(latestTaf != null)
        {
            var tafTime = latestTaf.time?.dt ?? DateTime.MinValue;
            var timeSinceLastTAF = currentTime - tafTime;


            <div>
                
                <table class="table-parent">
                    <thead>
                        <tr>
                            <th>Station</th>
                            <th>Report time</th>                            
                            <th>Report type</th>
                            <th>Raw report</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="@((airport.isNewTaf ? "taf-new-report" : "taf-old-report"))">
                            <td class="station-cell" rowspan="2">@airport.Icao</td>
                            <td class="reports-time-cell">@tafTime.ToString("HH:mm") (@timeSinceLastTAF.ToString("hh\\:mm"))</td>
                            <td class="report-type-cell">TAF</td>
                            <td>@latestTaf.raw</td>
                        </tr>
                        
                        <tr class="@((airport.isNewMetar ? "metar-new-report" : "metar-old-report"))">
                            <td class="reports-time-cell">@metarTime.ToString("HH:mm") (@timeSinceLastMetar.ToString("hh\\:mm"))</td>
                            <td class="report-type-cell">METAR</td>
                            <td>@latestMetar.Raw</td>
                        </tr>
                    </tbody>
                </table>
                <button @onclick="() => RemoveAirport(airport.Icao)">Delete</button>
                <button @onclick="() => NavigateToAirportPage(airport.Icao)">Airport page</button>
                <button @onclick="() => ConfirmReports(airport)">Confirm</button>
            </div>

            
        }

    }
}


